:root {
  --Solid-Heading: #42446e;
  --colors-grey: #ebeaed;
  --white: #fff;
  --grey: #666666;
  --dark-content: #666;
  --light-white: #d7ffe0;
  --green: #018c0f;
  --light-Content: #a7a7a7;
}
@media screen and (max-width: 992px) {
  body {
    display: block;
    max-width: 550px;
    max-height: 550px;
  }
  h1 {
    width: 80%;
    margin-top: -60px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
  .main-left {
    max-width: 100%;
  }
  .main-right {
    max-width: 100%;
    margin-top: -800px;
    margin-left: 600px;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 15px 60px 15px;
    height: 30px;
  }
  .nav-container {
    padding: 20px 15px 20px 15px;
  }

  .nav-primary {
    position: absolute;
    top: 145px;
    left: 0px;
  }
  .nav-logos {
    list-style-type: none;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  body {
    display: block;
    max-width: 550px;
    max-height: 550px;
  }
  h1 {
    width: 50%;
    margin-top: -140px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
  .main-left {
    max-width: 100%;
  }
  .main-right {
    max-width: 100%;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 15px 60px 15px;
    height: 30px;
    gap: 29px;
  }
  .nav-container {
    padding: 20px 15px 20px 15px;
  }
  .projects {
    position: absolute;
    top: 15px;
    left: 192px;
  }
  .contact {
    position: absolute;
    top: 15px;
    left: 40px;
  }
  .nav-primary {
    position: absolute;
    top: 145px;
    left: 0px;
  }
  .nav-logos {
    position: absolute;
    top: 38px;
    right: 100px;
    list-style-type: none;
    margin: 0;
  }
}
@media screen and (max-width: 480px) {
  body {
    display: block;
    max-width: 550px;
    max-height: 550px;
  }
  h1 {
    width: 50%;
    margin-top: -140px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
  .main-left {
    max-width: 100%;
  }
  .main-right {
    max-width: 100%;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    gap: 29px;
  }
  .projects {
    position: absolute;
    top: 15px;
    left: 192px;
  }
  .contact {
    position: absolute;
    top: 15px;
    left: 40px;
  }
  .nav-primary {
    position: absolute;
    top: 115px;
    left: 0px;
  }
  .nav-logos {
    position: absolute;
    top: 100px;
    right: 200px;
    list-style-type: none;
    margin: 0;
  }
}
* {
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 81px 214px 291px 182px;
  width: 1204px;
  margin-left: 180px;
  background-color: var(--white);
}
main {
  margin-left: 40px;
  margin-top: 243px;
}
ul {
  padding-left: clamp(40px, 5vw, 50px);
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}
li {
  margin-bottom: 1.3rem;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: var(--Solid-Heading);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}
h1 > span {
  background: linear-gradient(90deg, #13b0f5 30%, #a270ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
h2 {
  color: var(--Solid-Heading);
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
  width: 474.667px;
  padding: 38px 0 38px 25px;
}
h2.h2-about {
  width: 202px;
  height: 52px;
}
h4 {
  color: var(--dark-content);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: 1px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1193px;
  height: 59px;
}
.nav-logo {
  width: 97px;
  height: 59px;
}
.nav-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 609px;
  height: 26px;
  list-style-type: none;
  margin: 0;
}
.nav-link {
  color: var(--grey);
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.nav-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 32px;
  list-style-type: none;
  margin: 0;
}
.nav-svg {
  width: 30px;
  height: 30px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  width: 1204px;
  height: 350px;
  align-items: center;
  gap: 219px;
}
.main-left {
  margin-top: 45px;
  width: 636px;
  height: 297px;
}
.portrait {
  width: 350px;
  height: 350px;
}
.section-container {
  margin-top: 200px;
  width: 710px;
  height: 815px;
}
.section2-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.work-container {
  width: 704px;
  height: 75px;
}
.experience-container,
.edu-container {
  margin-left: 27px;
  margin-top: -30px;
}

.div1-experience {
  display: flex;
  justify-content: space-between;
}
.div2-experience {
  display: flex;
  gap: 20px;
}
.button-work {
  font-family: Poppins;
  font-weight: 600;
  font-size: 9px;
  font-style: normal;
  width: 84px;
  height: 24px;
  background-color: var(--light-white);
  color: var(--green);
  border: none;
  border-radius: 30px;
}
.p-work {
  color: var(--light-Content);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 233.333% */
  letter-spacing: 1px;
}
.h4-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.p-about {
  color: var(--dark-content);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 708px;
  height: 104px;
  margin-left: 27px;
}
.span-gap1 {
  margin-left: 32px;
}
.span-gap2 {
  margin-left: 150px;
}
.span-gap3 {
  margin-left: 150px;
}
.line {
  height: 2px;
  width: 696px;
  flex-shrink: 0;
  background: var(--colors-grey);
}
.edu-line {
  margin-top: 20px;
}
.edu-container {
  padding-bottom: 300px;
}
.footer-primary {
  display: flex;
  justify-content: space-between;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1218px;
  height: 192px;
  margin-top: 203px;
  margin-bottom: -55px;
}
.footer-logo {
  width: 97px;
  height: 59px;
  margin-top: 58px;
  margin-left: 26px;
}
footer > svg {
  margin-top: 26px;
  margin-left: 20px;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 439px;
  height: 26px;
  list-style-type: none;
  margin: 0;
  padding-right: 40px;
}
.phone {
  color: var(--Solid-Heading, #42446e);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.mail {
  color: var(--Solid-Heading, #42446e);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}
.foot-svg {
  color: var(--Solid-Heading, #42446E);
}
.footer-link {
  color: var(--grey);
  font-size: 20px;

  margin-left: -16px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.footer-p {
  color: var(--dark-content, #666);
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 144.444% */
}
p > span {
  background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px;
}