@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lobster&family=Pacifico&display=swap");

:root {
  --Solid-Heading: #42446e;
  --inverse-background-color: black;
  --inverse-font-color: white;
  --inverse-subheader-font-color: lightgrey;
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 2.5rem;
  }
  .nav-primary {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .portrait {
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .main-left {
    max-width: 100%;
  }
  .main-right {
    max-width: 100%;
  }
  .main-container {
    padding: 60px 15px 60px 15px;
  }
  .nav-container {
    padding: 20px 15px 20px 15px;
  }
}

@media screen and (max-width: 480px) {
  body {
    display: block;
    max-width: 550px;
    max-height: 550px;
  }
  h1 {
    width: 50%;
    margin-top: -140px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
  .main-left {
    max-width: 100%;
  }
  .main-right {
    max-width: 100%;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .projects {
    position: absolute;
    top: 15px;
    left: 192px;
  }

  .contact {
    position: absolute;
    top: 15px;
    left: 40px;
  }

  .nav-primary {
    position: absolute;
    top: 115px;
    left: 0px;
  }
  .nav-logos {
    position: absolute;
    top: 100px;
    right: 200px;
    list-style-type: none;
    margin: 0;
  }

  .main-container {
    height: 30px;
    gap: 29px;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 81px 214px 291px 182px;
  width: 1204px;
  margin-left: 180px;
}

main {
  margin-left: 40px;
  margin-top: 243px;
  width: 1204px;
  height: 350px;
}

ul {
  padding-left: clamp(40px, 5vw, 50px);
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}

li {
  margin-bottom: 1.3rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--Solid-Heading);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

h1 > span {
  background: linear-gradient(90deg, #13b0f5 30%, #a270ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1193px;
  height: 59px;
}

.nav-logo {
  height: 59px;
}

.nav-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 609px;
  height: 26px;
  list-style-type: none;
  margin: 0;
}

.nav-link {
  color: #666666;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.nav-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 32px;
  list-style-type: none;
  margin: 0;
}

.nav-svg {
  width: 30px;
  height: 30px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  width: 1204px;
  height: 350px;
  align-items: center;
  gap: 219px;
}

.main-left {
  margin-top: 45px;
  width: 636px;
  height: 297px;
}

.portrait {
  width: 350px;
  height: 350px;
}
