:root {
  --Solid-Heading: #42446e;
  --colors-grey: #ebeaed;
  --white: #fff;
  --grey: #666666;
  --dark-content: #666;
  --light-white: #d7ffe0;
  --green: #018c0f;
  --light-Content: #a7a7a7;
}
@media screen and (max-width: 992px) {
  body {
    display: block;
    max-width: 70%;
    max-height: 100%;
  }
  h1 {
    width: 80%;
    margin-top: -60px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  body {
    display: block;
    max-width: 80%;
    max-height: 100%;
  }
  h1 {
    width: 50%;
    margin-top: -140px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  body {
    display: block;
    max-width: 120%;
    max-height: 100%;
  }
  h1 {
    width: 50%;
    margin-top: -140px;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
  }
}
* {
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 81px 214px 291px 182px;
  width: 1204px;
  margin-left: 180px;
  font-family: Poppins;
  background-color: var(--white);
}
main {
  margin-left: 40px;
  margin-top: 243px;
}
p span:first-child {
  background: var(
    --Gradient-Heading,
    linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
p span {
  color: #e70faa;
}
ul {
  padding-left: clamp(40px, 5vw, 50px);
  margin-bottom: 1.4rem;
  margin-top: 1rem;
}
li {
  margin-bottom: 1.3rem;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: var(--Solid-Heading);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 58px;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}
h1 > span {
  background: linear-gradient(90deg, #13b0f5 30%, #a270ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}
h2 {
  color: var(--Solid-Heading);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4px;
  width: 474px;
  padding: 38px 0 38px 25px;
}
h2.h2-about {
  width: 202px;
  height: 52px;
}
h2.h2-tech {
  padding: 250px 0 0 10px;
}
h2.h2-projects {
  padding: 260px 0 0 20px;
}
h3 {
  color: #000;
text-align: center;

font-size: 28px;

font-weight: 500;
line-height: 26px; /* 92.857% */
}
h4 {
  color: var(--dark-content);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
  letter-spacing: 1px;
}
footer > svg {
  margin-top: 26px;
  margin-left: 40px;
  width: 96%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1193px;
  height: 59px;
}
.nav-logo {
  width: 97px;
  height: 59px;
}
.nav-primary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 609px;
  height: 26px;
  list-style-type: none;
  margin: 0;
}
.nav-link {
  color: var(--grey);
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.nav-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  height: 32px;
  list-style-type: none;
  margin: 0;
}
.nav-svg {
  width: 30px;
  height: 30px;
}
.main-container {
  display: flex;
  justify-content: space-between;
  width: 1204px;
  height: 350px;
  align-items: center;
  gap: 219px;
}
.main-left {
  margin-top: 45px;
  width: 636px;
  height: 297px;
}
.portrait {
  width: 350px;
  height: 350px;
}
.section-container {
  margin-top: 200px;
  width: 710px;
  height: 815px;
}
.section2-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.work-container {
  width: 704px;
  height: 75px;
}
.experience-container,
.edu-container {
  margin-left: 27px;
  margin-top: -30px;
}

.div1-experience {
  display: flex;
  justify-content: space-between;
}
.div2-experience {
  display: flex;
  gap: 20px;
}
.button-work {
  font-weight: 600;
  font-size: 9px;
  font-style: normal;
  width: 84px;
  height: 24px;
  background-color: var(--light-white);
  color: var(--green);
  border: none;
  border-radius: 30px;
}
.p-work {
  color: var(--light-Content);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 233.333% */
  letter-spacing: 1px;
}
.h4-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.p-about {
  color: var(--dark-content);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 708px;
  height: 104px;
  margin-left: 27px;
}
.p-tech,
.p-projects {
  text-align: center;
  font-size: 20px;
  margin: 16px 0 0 -118px;
}
.p-projects {
  margin-left: -228px;
}
.stack-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 100px;
  width: 1225px;
  height: 310px;
  margin-left: 16px;
  margin-top: 130px;
}
.stack-container img {
  width: 100px;
  height: 100px;
}
.div-projects {
  gap: 38px;
  height: 1200px;
  margin-top: 16px;
}
.div-projs-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.2);
  width: 375px;
  height: 570px;
}
.div-projs-container img {
  width: 375px;
height: 260px;
margin-bottom: 92px;
}

.links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links-container img {
  width: 20px;
height: 20px;
}
.span-gap1 {
  margin-left: 32px;
}
.span-gap2 {
  margin-left: 150px;
}
.span-gap3 {
  margin-left: 150px;
}
.line {
  height: 2px;
  width: 696px;
  flex-shrink: 0;
  background: var(--colors-grey);
}
.edu-line {
  margin-top: 20px;
}
.edu-container {
  padding-bottom: 300px;
}
.footer-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1192px;
  height: 192px;
  margin-top: 203px;
  margin-bottom: -55px;
}
.footer2-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1192px;
  height: 32px;
  margin-top: 59px;
  margin-bottom: -240px;
}
.footer-logo {
  width: 97px;
  height: 59px;
  margin-top: 58px;
  margin-left: 34px;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 554px;
  height: 26px;
  list-style-type: none;
  margin: 0;
}
.phone {
  color: var(--Solid-Heading);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-left: 64px;
}
.mail {
  color: var(--Solid-Heading);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.foot-svg {
  color: var(--Solid-Heading);
}
.footer-link {
  margin-left: -64px;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  color: var(--Solid-Heading);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.footer-p {
  color: var(--dark-content);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 34px;
  margin-right: 20px;
}
